<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Observation {{ id }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>FOI: {{ featureOfInterest }}</p>
    <p>FOI Qualifier: {{ featureOfInterestQualifier }}</p>
    <p>Characteristic: {{ characteristic }}</p>
    <p>Characteristic Qualifier: {{ characteristicQualifier }}</p>
    <p>Value = {{ value }}</p>
</body>
</html>