<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Site</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <p>SiteID: {{ siteId }}</p>
    <p>Survey name: {{ surveyName }}</p>
</body>
</html>